* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
background-image: url("./img/t1.jpg");
height: 25rem;
color: white;

}

h1{
display: flex;
justify-content: center;
padding: 6%;
}

header p{
display: flex;
justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 45%;
    height: 50px;
    width: 120px;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    background-color: rgb(90, 96, 214);
    text-decoration: none;
    }

h2{
display: flex;
justify-content: center;
}
.columna{
column-count: 2;
margin-top: 2rem;
padding-left: 20%;
padding-right: 20%;
}
.sec1{
    background: white;
    height: 12rem;
    margin-top: 2rem;
}

.sec2{
    background-color: rgb(84, 84, 84);
    height: 35rem;
    column-count: 3;
}
.cards{
    height:80% ;
    width: 70%;
    background-color: white;
    

  
}

